<div id="cubesviewer" class="b-report">
  <div class="cv-gui-workspace"></div>
  
  <div class="json"><%= @report.json %></div>

  <div class="ui-widget-overlay">
    <%= image_tag 'ajaxLoader.gif' %>
  </div>
</div>
